node_modules
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### vaadin

/src/main/frontend/generated

node_modules
target
.vscode
.settings
.project
.classpath

**/vite.generated.ts
/log
/src/main/resources/application-default.properties
/package.json
/tsconfig.json
/types.d.ts
/vite.config.ts
/config/models
/captues